
@{
    ViewBag.Title = "Informe";
}
<h2>Modulo de informes</h2>

<li>@Html.ActionLink("Calculo de nomina", "Create", "Cal_Nomina")</li>
<li>@Html.ActionLink("Salida de empleados", "Create", "Salida_Empleados")</li>
<li>@Html.ActionLink("Agregar vacaciones", "Create", "Vacaciones")</li>
<li>@Html.ActionLink("Agregar permisos", "Create", "Permisos")</li>
<li>@Html.ActionLink("Agregar licencias", "Create", "Licencias")

